
body{
    background-image: url(back.jpg);
}
img{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
article{
    border: solid black;
    align-items: center;

}
header{
    margin-top: 20px;
    font-size: 30px;
    color: white;
}
main{
  width: 50%;
  height: auto;
  border: solid white;
  display: flex;
  flex-direction: column;
  
  text-align: center;
 
}
nav{
    background-color: rgba(158, 216, 24, 0.644);
    width: 100%;
    height: 60px;;
    position: sticky;
}
#type{
    height: 40px;
    width: 200px;
    align-items: center;
    align-content: center;
    border:solid black ;
    margin-top: 10px;
}
section{
    display: flex;
    flex-direction: row;
}

aside{
    width:25%;
    border: solid black;
}
button{
    border-radius:200px ;
    font-size: 20px;
    color: white;
    background-color: rgb(27, 84, 190);
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
    height: 60px;
}

marquee{
    display: inline-block;
    animation-delay: 2;
    
}

footer{
    background-color: coral;
    width: 100%;
    height: 100px;
    text-align: center;
    color: cornsilk;
}
#home{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
#con{
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

figure{
    border: solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}
di{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
figure img{
    width: 280px;
}
divs{
    color: white;
}

@media(max-width:980px) 
{
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    footer{
        display: flex;
        font-size: 12px;
        padding-top: 10px;
    }
    div img{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    figure{
        width: 100%;
        margin-left: 0px;
    }
}
#add
{
    color: white;
    font-size: 40px;
}

